
.list {
	display: block;
	background-color: #AACCEE;
	width: 500px;
	height: 800px;	
	margin: 10px auto 0 auto;
	text-align: center;
	
	button {
		background-color: #263e59;
		color: #8ee8d1;
		border: none;
		margin: 5px;
		padding: 5px;
		cursor:pointer;
	}
	input {
		background-color: #263e59;
		color: #8ee8d1;
		border: none;
		margin: 5px;
		padding: 5px; 
	}
	 ul {
			list-style-type: none;
	}
	li {
		display: block;
		background-color: #2299cc;
		color: #efe;
		width: 90%;
		margin: 1% auto 1% auto;
		font-size: 2em;
		border-radius: 4px;	
	}
}

.deleteBtn{
    display: inline-block;
    color: #fff;
    float: right;
    margin: 5px;
    background-color: #263e59;
    width: 40px;
    font-size: 26px;
    cursor: pointer;
    border-radius: 2px;
}
.deleteBtn:hover {
    background-color: #99CCff;
    color: #263e59;
}